<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.story.storyadmin.mapper.children.DStudentMapper">

    <resultMap type="com.story.storyadmin.domain.entity.children.DStudent" id="BaseResultMap">
        <id     property="id"     column="s_ID"     />
        <id     property="name"     column="s_name"     />
        <result property="birthday"   column="s_birthday"   />
        <result property="sex"  column="s_sex"   />
    </resultMap>

    <sql id="Base_Column_List">
        s_ID,s_birthday,s_sex
    </sql>


    <select id="findByPage" parameterType="com.alibaba.fastjson.JSONObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        d_student
    </select>



    <select id="getStudent" parameterType="java.lang.String" resultType="com.story.storyadmin.domain.entity.children.DStudent">
        SELECT
        <include refid="Base_Column_List"/>
        FROM d_student WHERE s_id=#{id}
    </select>


</mapper>
