<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.story.storyadmin.mapper.children.DStudentMapper">

    <resultMap type="com.story.storyadmin.domain.entity.children.DStudent" id="BaseResultMap">
        <id     property="id"     column="s_ID"     />
        <id     property="name"     column="s_name"     />
        <result property="birthday"   column="s_birthday"   />
        <result property="sex"  column="s_sex"   />
    </resultMap>

    <sql id="Base_Column_List">
        s_ID,s_birthday,s_sex
    </sql>


    <select id="findByPage" parameterType="com.alibaba.fastjson.JSONObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        d_student
    </select>



    <select id="getStudent" parameterType="java.lang.String" resultType="com.story.storyadmin.domain.entity.children.DStudent">
        SELECT
        <include refid="Base_Column_List"/>
        FROM d_student WHERE s_id=#{id}
    </select>


    <!--#####################################################多对多关联查询##############################################################-->
    <!--根据学生编号id查询学生信息和课程信息，一对多关系 -->
    <select id="getStudentAndCourseByStudentId" parameterType="java.lang.String" resultMap="StudentCourseResultMap">
        SELECT s.*,c.* from d_student s inner join d_score ds on s.s_id = ds.ds_id INNER JOIN d_course  c on ds.course_id =c.c_id and s.s_id=#{id}
    </select>
    <resultMap type="com.story.storyadmin.domain.entity.children.manytomany.DStudentBO" id="StudentCourseResultMap">
        <id property="id" column="s_id"/>
        <result property="name" column="s_name"/>
        <result property="birthday"   column="s_birthday"   />
        <result property="sex"  column="s_sex"   />
        <!-- ofType指定students集合中的对象类型 -->
        <collection property="courses" ofType="com.story.storyadmin.domain.entity.children.DCourse">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
        </collection>
    </resultMap>

</mapper>
