<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.story.storyadmin.mapper.children.DTeacherMapper">

    <resultMap type="com.story.storyadmin.domain.entity.children.DTeacher" id="BaseResultMap">
        <id     property="id"     column="t_ID"     />
        <result property="name"   column="t_name"   />
    </resultMap>

    <sql id="Base_Column_List">
        t_ID,t_name
    </sql>


    <select id="findByPage" parameterType="com.alibaba.fastjson.JSONObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        d_teacher
    </select>

    <select id="getTeacher" parameterType="java.lang.String" resultType="com.story.storyadmin.domain.entity.children.DTeacher">
        SELECT
        <include refid="Base_Column_List"/>
        FROM d_teacher WHERE t_id=#{id}
    </select>



</mapper>
