<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.story.storyadmin.mapper.sysmgr.AttachmentMapper">

    <select id="selectNamesByIds"  parameterType="java.util.List" >
        select id, file_name, file_size
        from st_ATTACHMENT
        where id in
        <foreach collection='ids' item='id' open='(' close=')' separator=','>
        #{id}
        </foreach>
    </select>


</mapper>
